@import '_variables';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

//$fa-font-path: '../webfonts';

.counter{
    font-size: 10px;
    margin-right: 20px;
    text-align: center;

    .vote, .answers{
        width: 60px;
        height: 60px;
    }
    strong{
        font-size: 2em;
        display: block;
    }
    .status{
        &.unaswered{
            border: none;
        }

        &.answered{
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answered-accepted{
            background: $color-green;
            color: $color-white;
        }
    }
    .view{
        margin-top: 10px;
    }
}
form.question-form{
    display:inline;
}

.vote-control{
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color:darkblue;
    a, span {
        display: block;
    }
    a{
        cursor: pointer;
    }
    span{
        &.favorite-count{
            font-size: 12px;
        }
        &.vote-count{
            font-size: 16px;
        }
    }

    .accepted{
        color: green;
    }
    .off, .favorite{
        color: grey;
    }
    .favorited{
        color: yellowgreen;
    }
}
