.counter {
  font-size: 10px;
  margin-right: 20px;
  text-align: center;
}

.counter .vote,
.counter .answers {
  width: 60px;
  height: 60px;
}

.counter strong {
  font-size: 2em;
  display: block;
}

.counter .status.unaswered {
  border: none;
}

.counter .status.answered {
  border: 1px solid #5fbb7e;
  color: #5fbb7e;
}

.counter .status.answered-accepted {
  background: #5fbb7e;
  color: #fff;
}

.counter .view {
  margin-top: 10px;
}

